page-home {
    .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
          }
        
          .card-title {
            position: absolute;
            top: 30%;
            font-size: 1.5em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 60%;
            width: 100%;
            color: #fff;
          }        
        }
}
